/* ===========================================================

	# Wrap

=========================================================== */

.o-wrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

    // .o-wrap {
    //     padding-left: 0;
    //     padding-right: 0;
    // }
}

.o-wrap--center {
    margin-left: auto;
    margin-right: auto;
}

.o-wrap--small {
    max-width: $wrap-small;
}

.o-wrap--medium {
    max-width: $wrap-medium;
}

.o-wrap--large {
    max-width: $wrap-large;
}

.o-wrap--x-large {
    max-width: $wrap-x-large;
}


@include respond-min-max($mq-small, $mq-medium) {

    .o-wrap {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}


@include respond-min-max($mq-medium, $mq-large) {

    .o-wrap {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

}


@include respond-min($mq-large) {

    .o-wrap {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}


@include respond-min($mq-x-large) {

    .o-wrap {
        padding-left: 3rem;
        padding-right: 3rem;
    }

}


@include respond-min($mq-xx-large) {

    .o-wrap {
        padding-left: 5rem;
        padding-right: 5rem;
    }

}
